:root {
	--primary-clr: #ff6600;
	--bg-clr: #120f0f;
	--transition: 0.5s ease-in-out;
	--border: 2px solid #424242;
	/* --padding */
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-transform: capitalize;
	color: #fff;
	font-family: 'Urbanist', sans-serif;
}
body {
	width: 100vw;
	scroll-behavior: smooth;
	overflow-x: hidden !important;
	background-color: var(--bg-clr);
}
a {
	text-decoration: none;
}
h1 {
	font-size: 65px;
	margin: 20px 0;
	& span {
		color: var(--primary-clr);
	}
}
h2 {
	font-size: 45px;
	font-weight: 500;
	line-height: 60px;
}
h5 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 500;
}
p {
	font-size: 16px;
	line-height: 25px;
	margin: 10px 0;
	color: #9b9b9b;
	font-weight: bold;
}
button {
	padding: 10px 20px;
	border-radius: 5px;
	transition: var(--transition);
	cursor: pointer;
	&.regular-btn {
		background-color: var(--primary-clr);
		border: 2px solid var(--primary-clr);
		&:hover {
			background-color: rgb(203, 56, 3);
		}
	}
	&.light-btn {
		background-color: var(--bg-clr);
		border: 2px solid #fff;
		&:hover {
			background-color: grey;
		}
	}
}
header {
	color: var(--primary-clr);
	font-size: 14px;
	font-weight: 500;
	margin: 10px 0;
	letter-spacing: 3px;
}
section {
	padding: 40px 9vw;
}

/* Navbar */
.navbar {
	padding: 30px 9%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	& .logo {
		position: relative;
		width: 13%;
		& img {
			width: 100%;
		}
		&::before {
			height: 60%;
			width: 120%;
			top: 50%;
			left: 50%;
			translate: -50% -50%;
			content: '';
			position: absolute;
			z-index: -1;
			background-color: var(--primary-clr);
			border-radius: 100%;
			filter: blur(20px);
		}
	}
	& nav {
		width: 33%;
		& ul {
			display: flex;
			width: 100%;
			align-items: center;
			justify-content: space-between;
			list-style-type: none;
			& a {
				transition: var(--transition);
				padding: 2px 0px;
				border: 1px solid transparent;
				& li {
					transition: var(--transition);
					font-size: 17px;
					scale: 0.9;
					color: #999999;
				}
				&:hover {
					border-bottom: 1px solid var(--primary-clr);
					& li {
						scale: 1;
						color: #fff;
					}
				}
				&.active {
					border-bottom: 1px solid var(--primary-clr);
					& li {
						color: #fff;
						scale: 1;
					}
				}
			}
		}
	}
	& .responsive {
		display: none;
	}
	/* & .nav-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 20px;
        &.response {
            display: none;
        }
        & .regular {
            cursor: pointer;
            background-color: #99999936;
            padding: 10px 15px;
            border-radius: 5px;
            transition: var(--transition);
            &:hover {
                background-color: var(--primary-clr);
            }
        }
    } */
	& .regular {
		cursor: pointer;
		/* background-color: #99999936; */
		display: none;
		padding: 0px 15px;
		border-radius: 5px;
		font-size: 30px;
		transition: var(--transition);
		&:hover {
			color: var(--primary-clr);
		}
	}
}

.hero-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	& .text {
		width: 45%;
		& h1 span i {
			color: var(--primary-clr);
		}
		& > div:nth-child(3) {
			display: flex;
			margin-top: 35px;
			gap: 20px;
		}
		& > div:last-child {
			margin-top: 50px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 30px;
			padding: 15px 10px;
			padding-left: 30px;
			border: var(--border);
			border-radius: 13px;
			width: 67%;
			& div:nth-child(1) {
				display: flex;
				& img {
					width: 40px;
					border-radius: 100%;
					border: 2px solid #fff;
					margin-left: -15px;
				}
				/* width: 10px; */
			}
			& div:last-child {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				/* justify-content: center; */
				height: max-content;
				& h6 {
					width: 100%;
					font-size: 17px;
					line-height: 17px;
					margin: 0;
				}
				& p {
					font-size: 15px;
					margin: 0;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 5px;
					& i {
						font-size: 13px;
						color: orange;
					}
				}
				& span {
					font-size: 12px;
					margin: 0 5px;
					color: #999999;
				}
			}
		}
	}
	& .hero-image {
		width: 50%;
		position: relative;
		& .background {
			position: absolute;
			border-radius: 50px;
			height: 80%;
			width: 70%;
			top: 59%;
			left: 50%;
			z-index: -1;
			translate: -50% -50%;
			background-color: var(--primary-clr);
			box-shadow: 0 0 200px rgba(255, 166, 0, 0.804);
		}
		& .sparkles {
			position: absolute !important;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			z-index: -9;
			& p {
				font-size: 30px;
				position: absolute !important;
				top: 30%;
				&.p1 {
					top: 50%;
					right: 0;
					rotate: 30deg;
				}
				&.p2 {
					top: 5%;
					right: 25%;
				}
				&.p3 {
					top: 100%;
					left: 50%;
					rotate: -30deg;
				}
			}
			& div {
				position: absolute !important;
				top: 5%;
				right: 5%;
				width: 15px;
				height: 15px;
				border-radius: 100%;
				background-color: rgba(255, 68, 0, 0.616);
				&:nth-child(2) {
					background-color: orange;
					left: -10%;
					top: 75%;
				}
			}
		}
		& .comments {
			position: absolute;
			z-index: 88;
			background-color: #fff;
			box-shadow: 0 0 5px #424242;
			border-radius: 15px;
			padding: 10px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: max-content;
			width: 40%;
			& h6 {
				font-size: 12px;
				font-weight: 500;
				margin: 0;
			}
			& p {
				font-weight: 400;
				font-size: 11px;
				line-height: 20px;
				margin: 0;
			}
			& span {
				font-size: 12px;
				margin: 0 5px;
			}
			& h6,
			& p,
			& span {
				color: #000;
			}
			&.first {
				width: 30%;
				display: flex;
				align-items: center;
				top: 50%;
				left: -5%;
				& i {
					background-color: var(--primary-clr);
					padding: 10px;
					color: #fff;
					font-size: 16px;
					border-radius: 12px;
				}
				& div {
					width: 70%;
					/* margin-bottom: -12px; */
				}
			}
			&.second {
				padding: 0;
				top: 90%;
				left: -5%;
				height: max-content;
				overflow-x: hidden;
				& div {
					flex-wrap: wrap;
					align-items: center;
					display: flex;
					&:first-child {
						width: 30%;
						padding: 3px;
						/* background-color: var(--primary-clr); */
						& img {
							margin: 0;
							width: 100%;
							border-radius: 15px;
						}
					}
					&:last-child {
						padding: 5px;
					}
				}
				& h6 {
					width: 100%;
				}
				& p {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 3px;
					& i {
						/* font-size: 13px; */
						color: orange;
					}
				}
				& div {
					width: 65%;
				}
			}
			&.third {
				text-align: center;
				padding: 15px;
				left: 65%;
				top: 80%;
				& h6 {
					font-size: 13px;
					line-height: 15px;
				}
			}
		}
		& img {
			width: 65%;
			margin: 0 17.5%;
		}
	}
}
/* Services */
.services {
	margin-top: 100px;
	& .text {
		text-align: center;
	}
	& .sub-sec {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin-top: 50px;
		& .sub-class {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			padding: 30px;
			border: var(--border);
			margin: 30px 0;
			border-radius: 12px;
			position: relative;
			& > h5:first-child {
				position: absolute;
				top: -20px;
				background-color: var(--bg-clr);
				color: var(--primary-clr);
				padding: 5px 10px;
			}
			& p {
				font-size: smaller;
			}
			& .home {
				height: 50px;
				width: 50px;
				margin: 30px auto;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				box-shadow: 0 0 30px orange;
				& i {
					position: absolute;
					top: 50%;
					left: 50%;
					translate: -50% -50%;
					z-index: 100;
					font-size: 25px;
					color: orangered;
				}
				&::after,
				&::before {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					translate: -50% -50%;
					height: 110%;
					width: 110%;
					border-radius: 100%;
					border: double 1px transparent;
					background-image: conic-gradient(var(--bg-clr), var(--bg-clr)),
						conic-gradient(
							var(--primary-clr) 10%,
							transparent 20% 30%,
							var(--primary-clr),
							transparent 70% 80%,
							var(--primary-clr)
						);
					background-origin: border-box;
					background-clip: content-box, border-box;
					transform: rotate(-30deg);
					animation: rotate 10s linear infinite;
				}
				&::before {
					height: 150%;
					width: 150%;
					animation: revrotate 10s linear infinite;
					transform: rotate(30deg);
				}
			}
			& > div {
				width: 32%;
				height: 310px;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				flex-direction: column;
				text-align: center;
				padding: 15px 20px;
				/* border: 2px solid #fff; */
				box-shadow: 0 0 10px #424242;
				border-radius: 12px;
				margin: 20px 0;
				& > h5 {
					font-size: 20px;
					line-height: 40px;
				}
			}
			&:first-child div:last-child {
				/* margin: auto; */
				width: 100%;
				&:last-child p {
					width: 40%;
					margin: auto;
				}
			}
		}
	}
}
@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes revrotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}

/* Restaurants */
.restaurants {
	& .text {
		text-align: center;
	}

	& .sub-sec {
		display: flex;
		align-items: center;
		justify-content: space-between;
		overflow-x: scroll;
		scroll-behavior: smooth;
		gap: 1.5%;
		scroll-snap-type: x mandatory;
		margin-top: 30px;
		&::-webkit-scrollbar {
			display: none;
		}
		& > div {
			scroll-snap-align: start;
			min-width: 32.3%;
			border: var(--border);
			border-radius: 20px;
			overflow: hidden;
			padding: 10px 15px;
			margin: 20px 0;
			& img {
				border-radius: 20px;
				width: 100%;
				margin: auto;
			}
			& .txt {
				& div:first-child {
					margin-top: 30px;
					display: flex;
					align-items: center;
					justify-content: space-between;
					& span {
						font-size: 15px;
						font-weight: 600;
						display: flex;
						align-items: center;
						justify-content: center;
						gap: 5px;
						& i {
							font-size: 13px;
							color: var(--primary-clr);
						}
					}
					& h5 {
						font-size: 20px;
					}
				}
				& p {
					font-size: 13px;
					line-height: 20px;
					font-weight: 400;
					margin-top: 10px;
				}
				& div:last-child {
					display: flex;
					align-items: center;
					justify-content: center;
					margin: 20px 0;
				}
			}
		}
	}
	& .navigation {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		margin: 30px 0;
		& i {
			border: var(--border);
			height: 50px;
			width: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 100px;
			font-size: 20px;
			transition: var(--transition);
			cursor: pointer;
			&:hover {
				background-color: var(--primary-clr);
				border: 2px solid var(--primary-clr);
			}
		}
		& div {
			display: flex;
			align-items: center;
			gap: 10px;
		}
	}
	& > a {
		width: max-content;
		display: flex;
		justify-self: center;
	}
}

/* Mission */
.mission {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 40px 0;
	& .text {
		width: 30%;
	}
	& p {
		font-size: 14px;
	}
	& .sub-sec {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		width: 65%;
		border: var(--border);
		padding: 30px;
		box-shadow: 0 0 0 8px #191919;
		border-radius: 12px;
		& hr {
			width: 100%;
			margin: 20px 0;
			border: none;
			border-top: var(--border);
		}
		& div {
			text-align: center;
			width: 48%;
			padding: 10px;
			&:nth-of-type(odd) {
				border-right: var(--border);
			}
			& h5 {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 30px;
				gap: 5px;
				margin: 20px 0;
				& i {
					height: 50px;
					width: 50px;
					padding: 16px;
					border-radius: 100%;
					font-size: 20px;
					border: 1px solid var(--primary-clr);
					color: orangered;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}
}

/* Reviews */
.review {
	display: flex;
	justify-content: space-between;
	align-items: center;
	& > img {
		width: 45%;
	}
	& .text {
		width: 40%;
		& .txt {
			text-align: center;
		}
		& .sub-sec {
			& > div {
				border: var(--border);
				padding: 20px;
				border-radius: 12px;
				margin: 20px 0;
				& p {
					font-size: smaller;
					line-height: 20px;
				}
				& > div {
					display: flex;
					align-items: center;
					gap: 10px;
					& img {
						width: 50px;
						border-radius: 100%;
					}
					& div {
						display: flex;
						gap: -12px;
						flex-direction: column;
						justify-content: center;
						& span {
							font-size: 13px;
							font-weight: 600;
							& i {
								color: orange;
								margin-right: 5px;
							}
						}
					}
				}
			}
		}
	}
}

/* Pricing */
.pricing {
	& .text {
		text-align: center;
	}
	& .sub-sec {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
		margin: 50px 0;
		& > div {
			width: 49%;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			padding: 10px;
			border: var(--border);
			border-radius: 12px;
			margin: 10px 0;
			& img {
				grid-column: span 1;
				grid-row: span 2;
				border-radius: 12px;
			}
			& .txt {
				grid-column: span 2;
				padding: 0 10px;
				& p {
					font-size: 12px;
					line-height: 18px;
				}
			}
			& > div:last-child {
				grid-column: span 2;
				grid-row: span 1;
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-wrap: wrap;
				padding: 0 10px;
				& span {
					font-size: smaller;
					background-color: #99999960;
					color: #b3b1b1;
					border-radius: 12px;
					padding: 5px 7px;
				}
				& h6 {
					width: 100%;
					font-size: 20px;
					color: var(--primary-clr);
					margin: 5px 0;
				}
			}
		}
	}
	& > a {
		width: max-content;
		display: flex;
		justify-self: center;
	}
}

/* Contact */
.contact {
	& .text {
		text-align: center;
		width: 50%;
		margin: 20px auto;
	}
	& form {
		box-shadow: 0 0 0 5px #42424263;
		border: var(--border);
		border-radius: 12px;
		padding: 50px;
		margin: 50px 0;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		flex-wrap: wrap;
		& > div {
			display: flex;
			flex-direction: column;
			width: 31.5%;
			margin-bottom: 20px;
			& input,
			select,
			textarea {
				margin: 15px 0;
				width: 100%;
				border: var(--border);
				border-radius: 6px;
				padding: 16px 10px;
				color: #999999;
				font-size: 14px;
				text-transform: capitalize;
				background-color: var(--bg-clr);
				outline: none;
			}
			& > .input {
				display: flex;
				align-items: center;
				gap: 5px;
				border: var(--border);
				border-radius: 6px;
				margin: 15px 0;
				padding: 11px 15px;
				width: 100%;
				& input {
					border: none;
					padding: 5px;
					font-size: 14px;
					margin: 0;
				}
				& .dot {
					height: 10px;
					width: 10px;
					padding: 0;
					border-radius: 100%;
				}
			}
			&:nth-child(7) {
				width: 100%;
				& textarea {
					height: 122px;
				}
			}
			&:last-child {
				width: 100%;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				& div {
					display: flex;
					gap: 5px;
					align-items: center;
				}
				& p {
					font-size: 14px;
				}
				& input {
					/* width: max-content; */
					height: 24px;
					width: 24px;
					padding: 0;
					border-radius: 4px;
					appearance: none;
					border: var(--border);
					background-color: var(--bg-clr);
					&:checked {
						appearance: checkbox;
					}
				}
			}
		}
	}
}

/* ---Vendor Styling--- */

.vendor-hero {
	text-align: center;
	& .logo {
		display: flex;
		justify-self: center;
		border-radius: 100%;
	}
	& .items {
		position: relative;
		& > div {
			padding: 30px 20px;
			border: var(--border);
			position: relative;
			margin: 30px 0;
			border-radius: 12px;
			& > div:first-child {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 2%;
				overflow-x: scroll;
				scroll-behavior: smooth;
				scroll-snap-type: x mandatory;
				&::-webkit-scrollbar {
					display: none;
				}
				& > div {
					scroll-snap-align: start;
					text-align: left;
					min-width: 32%;
					border: var(--border);
					border-radius: 20px;
					overflow: hidden;
					padding: 10px;
					margin: 20px 0;
					& img {
						border-radius: 20px;
						width: 100%;
						height: 240px;
						margin: auto;
					}
					& .txt {
						text-align: center;
						& p {
							font-size: 13px;
							line-height: 16px;
							font-weight: 400;
						}
					}
					& .fee {
						display: flex;
						align-items: center;
						justify-content: space-between;
						margin: 20px 0;
						& h6 {
							font-size: larger;
							color: var(--primary-clr);
						}

						& span {
							font-size: smaller;
							background-color: #99999960;
							color: #b3b1b1;
							border-radius: 12px;
							padding: 5px 7px;
						}
					}
					& .btn {
						display: flex;
						align-items: center;
						justify-content: space-between;
						& > a {
							width: 49%;

						}
						& button {
							width: 100%;
							display: flex;
							background-color: #000;
							border-color: #424242;
							border-radius: 9px;
							padding: 8px 5px;
							align-items: center;
							justify-content: space-between;
							& i {
								width: 25%;
								font-size: 33px;
							}
							& div {
								width: 75%;
								display: flex;
								align-items: center;
								justify-content: space-between;
								flex-direction: column;
								font-size: 20px;
								& span {
									font-size: 13px;
								}
							}
							&:hover {
								background-color: #424242;
							}
						}
					}
				}
			}
		}
		& .navigation {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			/* margin: 30px 0; */
			& i {
				border: var(--border);
				height: 50px;
				width: 50px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 100px;
				font-size: 20px;
				transition: var(--transition);
				cursor: pointer;
				&:hover {
					background-color: var(--primary-clr);
					border: 2px solid var(--primary-clr);
				}
			}
			& div {
				display: flex;
				align-items: center;
				gap: 10px;
			}
		}
		& > h5 {
			position: absolute;
			top: -20px;
			left: 20px;
			z-index: 99999;
			background-color: var(--bg-clr);
			color: var(--primary-clr);
			padding: 5px 10px;
		}
	}
}

/* .specialty {
	& header {
		text-align: center;
	}
	& .sub-sec {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin: 40px 0;
		& > div {
			width: 35%;
			border: var(--border);
			border-radius: 20px;
			overflow: hidden;
			padding: 10px 15px;
			margin: 20px 0;
			& img {
				border-radius: 20px;
				width: 100%;
				margin: auto;
			}
			& .txt {
				& div:first-child {
					margin-top: 30px;
					display: flex;
					align-items: center;
					justify-content: space-between;
					& span {
						font-size: 14px;
						font-weight: 600;
					}
				}
				& p {
					font-size: 13px;
					line-height: 16px;
					font-weight: 400;
				}
				& div:last-child {
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin: 20px 0;
					& span {
						font-size: larger;
						color: var(--primary-clr);
					}
				}
			}
		}
	}
} */

.vendor-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	& h1 {
		width: 100%;
		text-align: center;
		color: var(--primary-clr);
	}
	& > div {
		width: 49%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border: var(--border);
		border-radius: 20px;
		/* overflow: hidden; */
		padding: 8px;
		margin: 20px 0;
		& img {
			width: 40%;
			border-radius: 20px;
		}
		& .txt {
			width: 57%;
			display: flex;
			align-items: start;
			justify-content: space-evenly;
			flex-direction: column;
			& > div:first-child {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				& span {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 5px;
					& i {
						font-size: 13px;
						color: var(--primary-clr);
					}
				}
			}
			& p {
				font-size: 13px;
				line-height: 20px;
				/* margin: auto; */
			}
		}
	}
}

.dish-section {
	& h1 {
		text-align: center;
		color: var(--primary-clr);
	}
	& > div {
		margin: 30px 0;
		display: flex;
		justify-content: space-between;
		& img {
			width: 30%;
		}
		& > div {
			width: 68%;
			border-radius: 12px;
			padding: 20px;
			border: var(--border);
			& p {
				font-size: 18px;
				line-height: 28px;
				color: #fff;
				& > span {
					font-size: 20px;
					margin-right: 5px;
					color: var(--primary-clr);
				}
			}
			& .btn {
				width: 60%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				& > a {
					width: 49%;

				}
				& button {
					width: 100%;
					display: flex;
					background-color: #000;
					border-color: #424242;
					border-radius: 9px;
					padding: 8px 5px;
					align-items: center;
					justify-content: space-between;
					& i {
						width: 25%;
						font-size: 33px;
					}
					& div {
						width: 75%;
						display: flex;
						align-items: center;
						justify-content: space-between;
						flex-direction: column;
						font-size: 20px;
						& span {
							font-size: 13px;
						}
					}
					&:hover {
						background-color: #424242;
					}
				}
			}
		}
	}
}

/* ---Vendor Styling--- */

/* Footer */
footer {
	padding: 40px 9vw;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	& > div {
		&:first-child {
			width: 30%;
			& .logo {
				position: relative;
				width: 100%;
				& > img {
					width: 40%;
				}
				&::before {
					height: 100%;
					width: 120%;
					top: -30%;
					left: 50%;
					translate: -50% -50%;
					content: '';
					position: absolute;
					z-index: -1;
					background-color: var(--primary-clr);
					border-radius: 100%;
					filter: blur(20px);
				}
			}
			& p {
				font-size: smaller;
				line-height: 18px;
			}
		}
		&:nth-child(2) {
			width: 69%;
			display: flex;
			justify-content: space-between;
			& hr {
				display: none;
			}
			& div ul {
				list-style-type: none;
				font-size: large;
				& li {
					margin-bottom: 15px;
					border: 2px solid transparent;
					transition: var(--transition);
					width: max-content;
					padding-bottom: 3px;
					font-size: 16px;
					color: #999999;
					&:hover {
						border-bottom: 2px solid var(--primary-clr);
						color: #fff;
					}
				}
			}
			& > div:last-child {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				& h5 {
					font-size: 25px;
					line-height: 30px;
					width: 70%;
				}
				& div {
					margin-bottom: 20px;
					width: 100%;
					background-color: #fff;
					border-radius: 8px;
					display: flex;
					align-items: center;
					justify-content: space-between;
					overflow: hidden;
					& button {
						border-radius: 0px;
						height: 40px;
					}
					& input {
						height: 40px;
						border: none;
						outline: none;
						width: 70%;
						font-size: 16px;
						color: #000;
						padding: 10px;
					}
				}
			}
		}
		&:last-child {
			width: 100%;
			margin: 20px 0;
			border-top: var(--border);
			padding: 30px 0;
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: small;
			& span {
				color: #999999;
				transition: var(--transition);
				&:hover {
					color: #fff;
				}
			}
			& div {
				width: max-content;
				justify-content: space-between;
				display: flex;
				gap: 20px;
				& i {
					font-size: 23px;
					transition: var(--transition);
					cursor: pointer;
					color: #999999;
					&:hover {
						color: var(--primary-clr);
					}
				}
			}
		}
	}
}

/* Responsive */
@media only screen and (max-width: 1300px) {
	h1 {
		font-size: 55px;
	}
	h2 {
		font-size: 35px;
		font-weight: 500;
		line-height: 60px;
	}
	h5 {
		font-size: 16px;
		line-height: 25px;
		font-weight: 500;
	}
	p {
		font-size: 14px;
		line-height: 20px;
		margin: 10px 0;
		color: #9b9b9b;
		font-weight: bold;
	}
	.navbar {
		padding: 30px 4vw;
		& .nav-icons {
			font-size: 15px;
		}
	}
	section {
		padding: 30px 4vw;
	}
	.hero-section {
		& .text {
			width: 53%;
		}
		& .hero-image {
			& img {
				width: 110%;
			}
			& .background {
				width: 80%;
				left: 53%;
			}
			& .comments {
				width: 50%;
				&.first {
					width: 40%;
				}
				&.third {
					left: 60%;
				}
			}
		}
	}
	footer {
		padding: 30px 4vw;
	}
}

@media only screen and (max-width: 800px) {
	body {
		width: 100vw;
		overflow-x: hidden !important;
	}
	.navbar {
		position: relative;
		& .logo {
			width: 25%;
		}
		& nav {
			display: none;
			&.responsive {
				display: none;
				height: 100vh;
				width: 100%;
				left: 0;
				top: 0;
				position: fixed;
				z-index: 999;
				background-color: #42424276;
				backdrop-filter: blur(10px);
				& ul {
					padding: 20px;
					flex-direction: column;
					justify-content: flex-start;
					position: fixed;
					z-index: 9999;
					width: 50%;
					height: 100vh;
					background-color: #606060;
					right: 0;
					top: 0;
					& i {
						align-self: flex-end;
						font-size: 30px;
						margin-bottom: 30px;
						transition: var(--transition);
						cursor: pointer;
						&:hover {
							color: var(--primary-clr);
						}
					}
					& a {
						width: 100%;
						text-align: center;
						margin: 10px 0;
						padding: 15px 0;
						border-radius: 8px;
						border: none;
						& li {
							scale: 1;
							width: 100%;
							& button {
								width: 100%;
								font-size: 17px;
							}
						}
						&:hover {
							border: none;
							background-color: var(--primary-clr);
							&:last-child {
								background: none;
							}
						}
					}
				}
			}
		}
		/* & .nav-icons {
            display: none;
            &.response {
                display: flex;
                font-size: 18px;
            }
        } */
		& .regular {
			display: block;
		}
	}
	.hero-section {
		flex-direction: column-reverse;
		& .text {
			width: 100%;
			margin: 20px 0;
			& h1 {
				width: 80%;
			}
		}
		& .hero-image {
			width: 100%;
			& img {
				width: 65%;
			}
			& .background {
				width: 65%;
				left: 50%;
			}
			& .comments {
				width: 40%;
				&.first {
					width: 30%;
					left: 0;
				}
				&.second {
					left: 0;
					top: 88%;
				}
				&.third {
					top: 75%;
				}
			}
		}
	}

	.services {
		& .sub-sec {
			& .sub-class {
				padding: 15px;
				& > div {
					width: 48%;
					height: 275px;
					padding: 10px;
					margin: 15px 0;
					& h5 {
						font-size: 18px;
					}
					& p {
						font-size: 12px;
					}
				}
				&:first-child > div:last-child {
					width: 48%;
					&:last-child p {
						width: 100%;
						margin: 10px 0;
					}
				}
			}
		}
	}

	.restaurants {
		& .sub-sec {
			& > div {
				min-width: 49%;
			}
		}
	}

	.mission {
		flex-direction: column !important;
		& .text {
			width: 100%;
		}
		& .sub-sec {
			width: 100%;
			margin: 20px 0;
			& hr {
				display: none;
			}
			& div {
				width: 100%;
				border-bottom: var(--border);
				&:nth-of-type(odd) {
					border-right: none;
				}
				&:last-child {
					border-bottom: none;
				}
			}
		}
	}

	.review {
		flex-direction: column;
		margin: 50px 0;
		& img {
			width: 100%;
		}
		& .text {
			width: 100%;
		}
	}

	.pricing {
		& .sub-sec {
			& > div {
				width: 100%;
				margin: 10px 0;
			}
		}
	}

	.contact {
		& .text {
			width: 100%;
		}
		& form {
			& > div {
				width: 100%;
				&:last-child {
					flex-wrap: wrap;
					& > div {
						width: 100%;
					}
					& button {
						width: 100%;
						margin: 10px 0;
					}
				}
			}
		}
	}

	/* ---Vendor Styling--- */
	.vendor-section {
		& > div {
			width: 100%;
			& .txt {
				& h5 {
					font-size: 20px;
				}
				& p {
					font-size: 16px;
					margin: 8% 0;
				}
			}
		}
	}

	.vendor-hero {
		& .items {
			& > div {
				& > div:first-child > div {
					min-width: 49%;
					& .btn {
						width: 100%;
						flex-direction: column;
						& a {
							width: 100%;
						}
						& button {
							width: 100%;
							margin: 5px 0;
						}
					}
				}
			}
		}
	}

	.dish-section {
		& > div {
			& > div {
				& .btn {
					width: 80%;
				}
			}
		}
	}

	footer {
		& > div {
			&:first-child {
				width: 100%;
				margin: 20px 0;
			}
			&:nth-child(2) {
				width: 100%;
				flex-wrap: wrap;
				& > div {
					width: 50%;
					padding: 20px;
					&:nth-of-type(odd) {
						padding: 20px 0;
						border-right: 1px solid #424242;
					}
				}
				& hr {
					display: block;
					margin: 10px 0;
					width: 100%;
					border: 1px solid transparent;
					border-top-color: #424242;
				}
			}
			&:last-child {
				flex-wrap: wrap;
				& > div:last-child {
					width: 100%;
					align-items: center;
					justify-content: center;
					/* margin-top: 40px; */
				}
			}
		}
	}
}

@media only screen and (max-width: 600px) {
	h1 {
		font-size: 50px;
	}
	.navbar {
		& nav.responsive {
			& ul {
				width: 60%;
			}
		}
	}
	.hero-section {
		& .text {
			width: 100%;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			& h1 {
				width: 100%;
			}
			& h1 span i {
				font-size: 60px;
			}
			& > div:last-child {
				width: 100%;
				text-align: left;
			}
		}
		& .hero-image {
			margin-bottom: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			& img {
				width: 100%;
			}
			& .background {
				width: 90%;
				height: 80%;
				top: 60%;
			}
			& .comments {
				width: 65%;
				&.first {
					width: 50%;
					top: 50%;
				}
				&.second {
					top: 95%;
				}
				&.third {
					left: 35%;
					top: 70%;
				}
			}
		}
	}

	.services {
		& .sub-sec .sub-class {
			& > div {
				width: 100%;
			}
			&:first-child > div:last-child {
				width: 100%;
			}
		}
	}

	.restaurants {
		& .sub-sec > div {
			min-width: 100%;
		}
	}
	.contact form {
		padding: 20px;
	}
	.pricing {
		& .sub-sec > div {
			/* flex-wrap: wrap; */
			& img {
				grid-row: span 1;
			}
			& .txt {
				align-self: center;
			}

			& > div:last-child {
				padding: 0;
				grid-column: span 3;
				& h6 {
					width: 40%;
				}
				& span {
					width: 40%;
					margin: 10px 0;
					text-align: center;
				}
				& a {
					width: 100%;
					& button {
						width: 100%;
					}
				}
			}
		}
	}

	/* ---Vendor STyling--- */
	.vendor-section {
		& > div {
			flex-direction: column;
			& img {
				width: 100%;
			}
			& .txt {
				width: 100%;
				padding: 5px;
				text-align: center;
				margin: 10px 0;
				& h5 {
					font-size: 18px;
				}
				& p {
					font-size: 14px;
					margin: 5% 0;
				}
				& > div:last-child {
					width: 100%;
				}
			}
		}
	}
	.vendor-hero {
		& .items {
			& > div {
				& > div:first-child > div {
					min-width: 100%;
				}
			}
		}
	}
	.dish-section {
		& > div {
			flex-direction: column;
			align-items: center;
			& img {
				width: 80%;
			}
			& > div {
				margin: 30px 0;
				width: 100%;
				& .btn {
					width: 100%;
				}
			}
		}
	}

	footer {
		& > div:nth-child(2) {
			& > div {
				&:nth-child(4) {
					width: 40%;
				}
				&:last-child {
					width: 60%;
				}
			}
		}
		& > div:last-child {
			& span {
				width: 25%;
				line-height: 20px;
			}
			& > div:last-child {
				margin-top: 30px;
			}
		}
	}
}
